main{
  background-color: #FEFBF7;
}

/* box-sizing */

* {
  box-sizing: border-box;
}

/* grid elements */

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row:after {
  content: "";
  clear: both;
  display: block;
}

/* header */
.header {
  padding: 40px 0px 0px 0px;
}

.logo {
  padding: 17px 27px 16px 18px;
  margin: 21px 0px 0px 0px;

}

.title {
  text-align: right;
  font-family: 'Philosopher', sans-serif;
  color: #6F6057;

}

/* buttons */

.artChange {
  width: 40%;
  margin: auto;
  display: block;
  background: #6F6058;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
  color: #FEFBF7;
  font-size: 14px;
  padding: 2px 8px 2px 8px;
}

.another {
  padding: 15px 0px 2px 0px;
}

.artChange:hover {
  background: #CEC6BA;
  background-image: linear-gradient(to bottom, #CEC6BA, #6F6058);
}

/* image */

.image {
  padding: 0px;
}

.mainImg {
  padding: 0px
}

.thumb {
  height: 150px;
  width: 150px
}

/* footer/copywrite */

.copyW {
  text-align: right;
  font-size: 10px;
}

img {
  max-width: 80%;
  height: auto;
}

/* footer */

p {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
}

/*----- Tabs -----*/
.tabs {
  width:100%;
  display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */

.tab-links:after {
  display:block;
  clear:both;
  content:'';
}

.tab-links li {
  margin:0px 5px;
  float:left;
  list-style:none;
}

.tab-links a {
  padding:9px 15px;
  display:inline-block;
  border-radius:3px 3px 0px 0px;
  background:#7FB5DA;
  font-size:16px;
  font-weight:600;
  color:#4c4c4c;
  transition:all linear 0.15s;
  text-decoration:none;
}

.tab-links a:hover {
  background:#a7cce5;
  text-decoration:none;
}

li.active a, li.active a:hover {
  background:#fff;
  color:#4c4c4c;
}

/*----- Content of Tabs -----*/

.tab-content {
  padding:15px;
  border-radius:3px;
  box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
  background:#fff;
}

.tab {
  display:none;
}

.tab.active {
  display:block;
}



