legend {
  padding: 0;
  display: table;
}
fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}
body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

main{
  background-color: #FEFBF7;
}

img {

}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;

}

a {
  text-decoration: none;
  color: #6F6057;
}

footer {
  background-color: #FEFBF7;
}

/* box-sizing */

* {
  box-sizing: border-box;
}

ul {
  width: 100%;
}

/* grid elements */

[class*="col-"] {
  float: left;
  padding: 15px;
}

[class*="col-m"] {
  width: 100%;
}

@media (max-width: 768px) {
  /* For tablets: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

@media (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

/* header */
.header {
  padding: 40px 0px 0px 0px;
}

.logo {
  padding: 17px 27px 16px 18px;
  margin: 21px 0px 0px 0px;
}

.title {
  text-align: right;
  font-family: 'Philosopher', sans-serif;
  color: #6F6057;
  text-shadow: 1px 1px 1px grey;
}

/* buttons */

.buttonDetail {
  text-align: center;
  background-color: #6F6058;
  color: #FEFBF7;
}

.buttonExplain {
  width: 100%;
  margin: auto;
  display: block;
  text-align: center;
  color: #6F6058
}

.artSingle {
  width: 20%;
  margin: auto;
  display: inline-block;
  background: #6F6058;
  border-radius: 1px;
  font-family: 'Raleway', sans-serif;
  color: #FEFBF7;
  font-size: 0.875em;
  padding: 2px 0px 2px 0px;
  outline: none;
}

.artMain {
  width: 10%;
  margin: auto;
  display: inline-block;
  background: #6F6058;
  border-radius: 1px;
  font-family: 'Raleway', sans-serif;
  color: #FEFBF7;
  font-size: 0.875em;
  padding: 2px 0px 2px 0px;
  outline: none;
}

.singButtons{
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 0.875em;
}


/* images */

.main {
  border: 2px solid #6F6056;
  padding: 0px;
  box-shadow: 2px 2px 5px grey;
  width: 70%;
  display: block;
  margin:0 auto;
}

.detailImg {
  width:100%;
  margin: auto;
  border: 2px solid #6F6056;
  box-shadow: 2px 2px 5px grey;
}

.thumb {
  height: 200px;
  width: 200px
}

/* footer/copywrite */

.copyW {
  text-align: right;
  font-size: 10px;
}

.copyWsingle {
  text-align: left;
}

/*----- Tabs -----*/
.tabs {
  width:100%;
  display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */

.tab-links {
  margin:0px;
}

.tab-links:after {
  display:block;
  clear:both;
  content:'';
}

.tab-links li {
  margin:0px 0px;
  float:left;
  list-style:none;
  border-radius:3px;
  border-top:solid 1px;
  border-left: solid 1px;
  border-color: #E3E0DC;
  color: #6F6056
}

.tab-links a {
  padding:9px 10px;
  display:inline-block;
  border-radius:3px 3px 0px 0px;
  background:#E3E0DC;
  font-size:16px;
  font-weight:600;
  color:#6F6056;
  transition:all linear 0.15s;
  text-decoration:none;
}

.tab-links a:hover {
  background:#6F6056;
  text-decoration:none;
  color:#E3E0DC
}

li.active a, li.active a:hover {
  background:#fff;
  color:#6F6056;
}

/*----- Content of Tabs -----*/

.tab-content {
  padding:15px;
  border-radius:3px;
  box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
  background:#fff;
}

.tab.active {
  display:block;
}


/*----- Text animations -----*/

.citation {
  font-size: 8px;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 1s;
}

.animate-show.ng-hide {
  line-height: 10px;
  opacity: 0;
  padding: 0 10px;
}


/*----- Form elements -----*/
#message {
width:100%;
}
