<header>
    <div class='row header col-m-12'>
        <div class='col-3'></div>
        <img class='logo col-1 copyA' ng-mouseenter="optionsAA=true" ng-mouseleave="optionsAA=false" src ="images/aspectLogo.png" alt="Aspect Logo">
        <p class ='copyA col-7 animate-show about' ng-show="optionsAA">
            Aspect is a portal for fine art from around the world.
            It is a tool to foster interest in, create exposure to,
            and educate the user in both classic and modern art.
            Aspects goal is to bring a bit of beauty into the day to day
            by providing a variety of art to a user that they may have never
            seen before. Often you have a favorite artist or piece of work,
            those pieces are comfortable and familiar, Aspect looks to expand that.
        <h1 class='title col-5' ng-hide="optionsAA"><a href = "/#/">{{main.title}}</a></h1>
        <div class='col-3'></div>
    </div>
</header>
<section>
    <div>
        <div class="big">
            <a ng-href="/#/single/{{id}}/{{workNumber}}">
                <img class="big" ng-src='{{url}}' alt="{{title}}"/>
            </a>
        </div>
    <div class='singButtons'>
       <button ng-click='onStyleClick()' class='artMain' ng-mouseenter="options=true" ng-mouseleave="options=false">Style</button>
       <button ng-click= 'onAnotherClick()' class='artMain' ng-mouseenter="options2=true" ng-mouseleave="options2=false">Title</button>
       <button ng-click= 'onArtistClick()' class='artMain' ng-mouseenter="options3=true" ng-mouseleave="options3=false">Artist</button>
       <button class="artMain" ng-mouseenter="options4=true" ng-mouseleave="options4=false" ngclipboard data-clipboard-text="http://localhost:3000//#/single/{{id}}/{{workNumber}}">Share</button>
    </div>
    </div>
    <div>
        <div>
            <p class="col-2 buttonExplain animate-show" ng-show="options">Choose another work in {{style}}.</p>
            <p class="col-2 buttonExplain animate-show" ng-show="options2">"{{title}}"<br> Choose another work.</p>
            <p class="col-2 buttonExplain animate-show" ng-show="options3">Choose another work by {{artist}}.</p>
            <p class="col-2 buttonExplain animate-show" ng-show="options4">Copy this url to your clipboard and share.</p>
        </div>
    </div>
</section>