<section>
    <div class='row'>
        <figure>
            <div class='col-2'></div>
            <a href="/#/single/ + $scope.id">
                <img class='col-8 main'ng-src='{{url}}' alt="{{title}}"/>
            </a>
            <div class='col-2'></div>
        </figure>
    </div>
</section>
<section>
    <div class='row'>
        <div class='col-3'></div>
        <div class='col-2'><button ng-click='onStyleClick'  type='button' class='artChange styleBtn'>Style</button></div>
        <div class='col-2 another'><button ng-click= 'onAnotherClick()' type='button' class='artChange allNewBtn'>Another</button></div>
        <div class='col-2'><button ng-click= 'onArtistClick() 'type='button' class='artChange artistBtn'>Artist</button></div>
        <div class='col-3'></div>
    </div>
</section>