<section>
    <div class='row'>
        <div class='col-2'></div>
        <figure>
            <a ng-href="/#/single/{{id}}/{{workNumber}}">
                <img class='col-8 main' ng-src='{{url}}' alt="{{title}}"/>
            </a>
        </figure>
    <div class='singButtons col-8'>
       <button ng-click='onStyleClick()'  type='button' class='artMain' ng-mouseenter="options=true" ng-mouseleave="options=false">
            Style</button>
       <button ng-click= 'onAnotherClick()' type='button' class='artMain' ng-mouseenter="options2=true" ng-mouseleave="options2=false">
            Title</button>
       <button ng-click= 'onArtistClick()'type='button' class='artMain' ng-mouseenter="options3=true" ng-mouseleave="options3=false">
            Artist</button>
       <button class="artMain" ng-mouseenter="options4=true" ng-mouseleave="options4=false" ngclipboard data-clipboard-text="/#/single/{{id}}/{{workNumber}}">Share</button>
    </div>
        <div class='col-2'></div>
    </div>
    <div class='row'>
        <div>
            <p class="col-2 buttonExplain animate-show" ng-show="options">Choose another work in {{style}}.</p>
            <p class="col-2 buttonExplain animate-show" ng-show="options2">"{{title}}"<br> Choose another work.</p>
            <p class="col-2 buttonExplain animate-show" ng-show="options3">Choose another work by {{artist}}.</p>
            <p class="col-2 buttonExplain animate-show" ng-show="options4">Copy this url to your clipboard and share.</p>
        </div>
    </div>
</section>