 <section>
            <div class='row'>
                    <div class='col-1'></div>
                    <div class="col-7">
                        <img class='detailImg' ng-src={{url}} alt="{{title}}"/>
                        <div class="singButtons">
                        <button ng-click='onStyleClick()' class="artSingle styleBtn">Style</button>
                        <button ng-click='onAnotherClick()' class="artSingle anotherSing allNewBtn">Another</button>
                        <button ng-click='onArtistClick()' class="artSingle artistBtn">Artist</button>
                        <button class="artSingle" ngclipboard data-clipboard-text="/#/single/{{id}}/{{workNumber}}">Share</button>
                        </div>
                    </div>
            <div class="col-3 col-m-12">
                <div class="tabs" ng-controller="TabController">
                    <ul class="tab-links" ng-init="currentTab='tab1'">
                        <li ng-class="{active: isActive('tab1')}"><a ng-click="onTabClick('tab1')">About</a></li>
                        <li ng-class="{active: isActive('tab2')}"><a ng-click="onTabClick('tab2')">More</a></li>
                        <li ng-class="{active: isActive('tab3')}"><a ng-click="onTabClick('tab3')">Thoughts</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="tab1" ng-show="isActive('tab1')"  ng-class="{active: isActive('tab1')}">
                            <a ng-href= "{{wikiLocation}}">
                            <p>Artist: {{artist}}</p>
                            </a>
                            <p>Title: {{title}}</p>
                            <p>Style: {{style}}</p>
                            <p ng-hide="yearCompleted == null">Date Completed: {{yearCompleted}}</p>
                            <p ng-mouseenter="display=true" ng-mouseleave="display=false">Is this work in the Public Domain? : {{publicDomain}}</p>
                            <p ng-show="display" class="animate-show">WikiArt.org (the source for Aspects images allows unlimited copying, distributing and
                            displaying of the images of public domain artworks solely. We use here Copyright term based
                            on authors' deaths according to U.S. Copyright Law, that is 70 years. In other countries,
                            the duration of copyright term may differ.</p>
                        </div>

                        <div id="tab2" ng-show="isActive('tab2')"  ng-class="{active: isActive('tab2')}">
                            <p>More by {{artist}} in {{style}}</p>
                            <div class="byArtistWorks">
                            <img class='thumb' ng-repeat="work in works" ng-if="work.url != url" ng-src={{work.url}} alt="{{work.title}}"/>
                            </div>
                        </div>

                        <div id="tab3" ng-show="isActive('tab3')" ng-class="{active: isActive('tab3')}">
                            <div class="content">
                                <form class = "contact" action="/contact" name="contact" id="contact" method="post">
                                    <h3>Help Aspect Grow</h3>
                                    <p>The Aspect Collection can grow. Are we missing you favorite artist, style, or work?
                                        Tell us what you would like to see.</p>
                                    <fieldset>
                                        <p>
                                            <label for="name">Name:</label><br/>
                                            <input name="name" type="text" value="" id="name"/>
                                        </p>
                                        <p>
                                            <label for="email">Email:</label><br/>
                                            <input name="email" type="text" value="" id="email"/>
                                        </p>
                                        <p>
                                            <label for="message">Message:</label><br/>
                                            <textarea name="message" cols="40" rows="10" id="message" placeholder="What would you like to see?"></textarea>
                                        </p>
                                        <p>
                                            <input name="location" type="hidden" value="/#/single/{{id}}/{{workNumber}}" id="location"/>
                                        </p>
                                        <p>
                                            <input name="submit" type="submit" value="Send" id="submit"/>
                                        </p>
                                    </fieldset>
                                </form>
                            </div>
                            </div>
                        </div>

                </div>
                </div>
            </div>
                <div class='col-1'></div>
                </div>
    </section>


